################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Veda-bookStore/.vs/Veda-bookStore
/Veda-bookStore/Veda-bookStore/bin/Debug/netcoreapp3.1
/Veda-bookStore/Veda-bookStore/obj
